node_modules/
dist/

*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.pem
*.key
*.conf
.env
configs/
logs/
.commandcode/*
